*{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    height: 80px;
    background-color: black;
}
.logo{
    width: 30%;
    height: 80px;
    background-color: yellow;
    text-align: center;
    float: left;
}
.menu{
    width: 70%;
    line-height: 80px;
    background-color: red;
    float: right;
}
ul{
    list-style: none;
    text-align: right;
}

li{
    display:inline-block;
    /* border: 1px solid black; */
    padding: 0 10px;
}